/* Reset some default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #5cdb95;
}

nav {
  flex-grow: 1;
  padding-left: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 15px;
  font-weight: bold;
}

input[type="search"] {
  padding: 8px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.user-cart {
  display: flex;
  align-items: center;
}

.cart,
.user {
  background-color: #5cdb95;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.filters {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters label {
  color: #333;
  margin-right: 10px;
}

.filters select {
  padding: 8px 16px;
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  outline: none;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.product {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  flex-basis: 300px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-image {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  margin: 0 auto 20px;
  border-radius: 50%;
}

.price {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

button {
  background-color: #5cdb95;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.2s;
  margin-left: 5px;
  margin-right: 5px;
}

button:hover {
  background-color: #379683;
}

.coupons {
  background-color: #fff;
  padding: 20px;
  margin: 20px 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.user_dropdown {
  background-color: transparent;
  color: white;
  border: solid white 0px;
}

.options_color {
  color: black;
}
